### all ignore ###
/*
/**

### not ignore ###
# root {{{
!/.gitignore
!/.p10k.zsh
!/.zshenv
!/Brewfile
!/README.md
!/Dockerfile
!/install.sh
# }}}

# .config {{{
!/.config/
!/.config/alacritty/
!/.config/alacritty/alacritty.yml
!/.config/git/
!/.config/git/config
!/.config/git/ignore
!/.config/git/.gitmessage
!/.config/i3/
!/.config/i3/config
!/.config/i3/wallpaper.jpg
!/.config/i3/wallpaper_lock.jpg
!/.config/i3blocks/
!/.config/i3blocks/**
!/.config/rofi/
!/.config/rofi/**
!/.config/efm-langserver/
!/.config/efm-langserver/config.yaml
# nvim {{{
!/.config/nvim/
!/.config/nvim/lua/
!/.config/nvim/lua/lsp_rc.lua
!/.config/nvim/lua/treesitter_rc.lua
!/.config/nvim/init.vim
!/.config/nvim/dein/
!/.config/nvim/dein/dein.toml
!/.config/nvim/dein/lazy.toml
!/.config/nvim/dein/ddc.toml
!/.config/nvim/dein/ddu.toml
!/.config/nvim/dein/ftplugin.toml
!/.config/nvim/plugins/
!/.config/nvim/plugins/settings/
!/.config/nvim/plugins/settings/ddc.rc.vim
!/.config/nvim/plugins/settings/ddu.rc.vim
!/.config/nvim/plugins/settings/fern.rc.vim
!/.config/nvim/plugins/settings/fzf.rc.vim
!/.config/nvim/plugins/settings/lightline.rc.vim
!/.config/nvim/plugins/settings/pum.rc.vim
!/.config/nvim/plugins/settings/quickrun.rc.vim
!/.config/nvim/plugins/settings/lexima.rc.vim
!/.config/nvim/vsnip/
!/.config/nvim/vsnip/**
# }}}
# }}}

# github {{{
!/.github/
!/.github/workflows/
!/.github/workflows/**
# }}}

# .tmux {{{
!/.config/tmux/
!/.config/tmux/tmux.conf
!/.config/tmux/conf/
!/.config/tmux/conf/base.tmux
!/.config/tmux/conf/bind.tmux
!/.config/tmux/conf/color.tmux
!/.config/tmux/conf/plugin.tmux
!/.config/tmux/conf/scripts/
!/.config/tmux/conf/scripts/**
!/.config/tmux/
!/.config/tmux/plugins/**
# }}}

# bin {{{
!/bin/
!/bin/benchmark.sh
!/bin/setup.sh
# }}}

# doc {{{
!/doc/
!/doc/**
# }}}

# etc {{{
# }}}

# .zsh {{{
!/.zsh/
!/.zsh/.zshrc
!/.zsh/.fzf.zsh
!/.zsh/.zshenv
!/.zsh/.zprofile
# }}}
