name: Test Ubuntu

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install chezmoi
        run: |
          sh -c "$(curl -fsLS get.chezmoi.io)" -- -b "$HOME/.local/bin"
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Test chezmoi init
        run: |
          chezmoi init --source "$GITHUB_WORKSPACE"
          
      - name: Test chezmoi diff
        run: |
          chezmoi diff --no-pager

      - name: Test chezmoi apply (dry-run)
        run: |
          chezmoi apply --dry-run --verbose
